<section class="w3-container ">
    @if(loading()){<app-line-loader></app-line-loader>}

    <!-- HEADER -->
    <div class="flex mt-4">
        <div class="flex-none d-flex ">
            <i class="icon-lb_suitcase text-blue-400 text-[40px] align-self-center"></i>
            <span class="text-white ms-2 text-[20pt] poppins align-self-center">Propiedades</span>
            <a href="/properties/add"
                class="animate-[pulse_1s_ease-in-out] btn btn-lg btn-blue text-white px-4 ms-4 align-self-center d-flex">
                Nueva Propiedad<i-lucide [img]="CirclePlusIcon" [size]="24"
                    class="text-white align-self-center ms-1 font-[10px]"></i-lucide>
            </a>
            @if (me().property?.id){<button (click)="onBack($event)" type="button"
                class="btn btn-lg btn-blue text-white ms-3 align-self-center">
                <i class="icon-corner-down-left text-white font-12"></i>
            </button>}
        </div>
        <div class="flex-1 "></div>
        <div class="flex-none align-self-center">
            <app-top-right-menu [me]="me()" />
        </div>
    </div>

    <!-- LIST -->
    <section class="mt-4 ">
        <hr />
        @if(bootstrapped())
        {
        <section class="w3-content ">
            @for (p of list(); track p.IdProperty)
            {
            <app-properties-list-item [p]="p" [selected]="selected()"
                (action)="onSetMainProperty(p)" @fadeSlide></app-properties-list-item>
            }
        </section>
        }
    </section>
</section>