<form (submit)="onClick($event, popoverEmail, popoverPassword)" class='align-self-center w-100 d-flex flex-column'>

    <!-- LOGO (High order component reusable) -->
    <app-logo class="text-[120px] align-self-center mt-4"></app-logo>

    <!-- TITLE -->
    <h1 class="!text-white !text-[50px] align-self-center">{{title()}}</h1>

    <!-- EMAIL -->
    <div class="w-100 mt-4">
        <label class="white poppins font-12">Correo electrónico <i class="blue">*</i></label>
        <div id="email_wrapper" class="black-input d-flex mt-2 {{wrongEmail() ? 'error-input' : ''}}"
            [ngbPopover]="emailPop" #popoverEmail="ngbPopover" triggers="manual" placement="right">
            <i-lucide [img]="AtSignIcon" [size]="24" class="text-white align-self-center ms-1"></i-lucide>
            <input id="txtEmail" class="w-100 p-3 text-white poppins" type="text" name="email" value="{{form().email}}"
                placeholder="Correo electrónico" />
        </div>
        <!-- POPOVER -->
        <ng-template #emailPop>
            <div>
                <span>{{wrongEmailMessage()}}</span>
            </div>
        </ng-template>
    </div>

    <!-- PASSWORD -->
    <div class="w-100 mt-4">
        <label class="white poppins font-12">Contraseña <i class="blue">*</i></label>
        <div id="password_wrapper" class="black-input d-flex mt-2 {{wrongPassword() ? 'error-input' : ''}}"
            [ngbPopover]="passPop" #popoverPassword="ngbPopover" triggers="manual" placement="right">
            <i-lucide [img]="LockIcon" [size]="24" class="text-white align-self-center ms-1"></i-lucide>
            <input id="txtPassword" class="w-100 p-3 white poppins" type="{{passwordVisible() ? 'text' : 'password'}}"
                name="pass" placeholder="Contraseña" />
            @if (!passwordVisible()) {<i-lucide (click)="onToggleVisiblePassword($event)" [img]="EyeClosedIcon"
                [size]="24" class="text-white align-self-center me-1"></i-lucide>}
            @if (passwordVisible()){<i-lucide (click)="onToggleVisiblePassword($event)" [img]="EyeIcon" [size]="24"
                class="text-white align-self-center me-1"></i-lucide>}
        </div>
        <!-- POPOVER -->
        <ng-template #passPop>
            <div>
                <span>{{wrongPasswordMessage()}}</span>
            </div>
        </ng-template>
    </div>

    <!-- RECOVER -->
    <a routerLink="/recover" class="w-100 text-center mt-4">
        <span class="poppins white" style="margin-right: 5px;">Olvidé mi</span>
        <span class="underlined poppins blue hover">contraseña</span>
    </a>

    <button type="submit" class="btn btn-lg btn-blue text-white w-100 mt-4 poppins text-center">
        @if(!microTransac()) {<span>Entrar</span>}
        @if(microTransac()){<i-lucide (click)="onToggleVisiblePassword($event)" [img]="LoaderCircleIcon"
            class="text-white mx-auto animate-spin"></i-lucide>}
    </button>


    <a routerLink="/create_account" class="w-100 btn btn-link text-center mt-4">
        <span class="txt1 white poppins me-1">Quiero</span>
        <span class="txt2 underlined blue poppins">ser parte</span>
        <span class="txt1 white poppins ms-1">de legendbeds</span>
    </a>

    <div style="height: 70px;"></div>
    <span class="white font-8 mx-auto poppins">©Legendbeds 2023. Powered by Legendsoft. Todos los derechos
        reservados</span>
</form>